{% extends 'blog/base.html' %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
  <h2>Результаты по запросу: "{{ query }}"</h2>
  {% for post in posts %}
    <div class="card mb-4">
      <h2 class="card-title">{{ post.title }}</h2>
      {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 300px;" class="mb-2">
      {% endif %}
      <p>{{ post.content|truncatewords:30 }}</p>
      <a href="{% url 'edit_post' post.id %}" class="btn btn-sm btn-warning">Редактировать</a>
    </div>
  {% empty %}
    <p>Ничего не найдено.</p>
  {% endfor %}
{% endblock %}
